{% extends "base.html" %}
{% block title %}Pagina de busqueda{% endblock %}
{% block contenido %}
	<div class="inner">
		<header>
			<h2>JUEGOS MSX</h2>
		</header>
		<div class="inner" id="formulario">
			<section>
				<h3>Busca aquí tus juegos</h3>
				<form method="POST" action="/listajuegos">
					<div class="row uniform 50%">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="name" placeholder="Pon aquí el nombre del juego" />
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Buscar" class="special" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
{% endblock %}
